
.row2{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-column-gap: 5px;
	background-color: black;
	
	.slno{
		align-items: center;
		align-content: center;
		width: 200px;
		height: 50px;
		background-color: red;
		color: greenyellow;
	}
	
	.player{
		align-items: center;
		align-content: center;
		width: 200px;
		height: 50px;
		background-color: white;
		color: black;
	}
	
	.value{
		align-items: center;
		align-content: center;
		width: 200px;
		height: 50px;
		background-color: gainsboro;
		color: black;
	}
}