.rec{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(3,1fr);
	grid-row-gap: 25px;
	min-height: 750px;
	
	.back10{
		font-size: 18px;
		padding: 10px 20px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background-color: rgb(31, 43, 254) ;
		color: rgb(255, 255, 255);
		cursor: pointer;
	}
	
	.title-card1{
		grid-column: span 4;
		
		.title{
			text-align: center;
			align-self: center;
			align-content: center;
			font-size: 4rem;
			color: red;
		}
	}
	
	.s{
		grid-column: span 1;
	}
	
	.container {
	            position: relative;
	}
	
	.Season{
		display: flex;       /* Center the button content */
   		align-items: center; /* Vertically center */
    	justify-content: center; /* Horizontally center */
    	width: 100%;         /* Full width */
    	height: 100%;
    	font-size: 1.5rem;   /* Font size */
		background-color: rgb(75, 226, 139);
		color: rgb(255, 255, 255);
		cursor: pointer;
	}
	
	.Overall{
		display: flex;       /* Center the button content */
   		align-items: center; /* Vertically center */
    	justify-content: center; /* Horizontally center */
    	width: 100%;         /* Full width */
    	height: 100%;
    	font-size: 1.5rem;   /* Font size */
		background-color: rgb(75, 226, 139);
		color: rgb(255, 255, 255);
		cursor: pointer;
	}
	
}